// app global css in Sass form

.body
  padding: 10px

.header-image
  height: 100%
  z-index: -1
  opacity: 0.2
  filter: grayscale(100%)

.header
  font-weight: bold
  font-size: 1.6em

.title
  font-weight: bold
  font-size: 1.4em

.difficulty
  font-weight: bold
  font-size: 1.6em
  text-align: center

.difficultylevel, .victorypoints
  font-size: 1.4em

.victorypoints
  font-weight: bold

#rattails, #beatthat
  font-size: 1.4em
  text-align: center

#beatthat
  padding-top: 10px

.rubies
  width: 24px
  vertical-align: middle

.droplet, .ratstone
  color: #cccccc
  font-size: 1em

.ratstone
  padding-bottom: 20px

.roundcounter
  border: 1px solid #cccccc
  background-color: #efefef
  text-align: center
  font-size: 1.4em
  padding: 6px 10px

.level
  font-size: 2em
  font-family: "Courier New", Courier, monospace
  margin: 0 20px
  cursor: pointer
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: -moz-none
  -o-user-select: none
  user-select: none

.level:hover
  color: blue

.levelsmall
  font-size: 1.2em
  line-height: 1em
  font-family: "Courier New", Courier, monospace

.blackchips
  font-weight: bold
  font-size: 80px
  line-height: 40px
  letter-spacing: -2px

.cauldronspace
  border: 1px solid #cccccc
  background-color: #efefef
  text-align: center
  font-size: 1.4em
  font-weight: bold
  padding: 6px 10px

.ruby
  padding-top: 12px

.roundnav
  text-align: center
  padding-top: 20px

.card
  color: #bbb
  margin-left: 10px